.devider {
    width: fit-content;

    display: flex;
    align-items: center;
    
    margin: 0 auto;
    margin-top: 20px;
    span {
        width: 60px;
        height: 1px;
        background: #000;
    }
    svg {
        fill: #000;
        margin: 0 25px;
    }
}