.ourbest {
    min-height: 495px;
    
    &__items {
        padding: 0;
        margin: 0 auto;
        margin-top: 40px;
        max-width: 800px;
        display: flex;
        justify-content: space-between;
    }
}

.app {
    .list {
        padding: 80px 0 110px 0;
    }
}


.list {
    padding-bottom: 30px;
    min-height: 580px;
    &__items {
        max-width: 870px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    .item {
        margin: 60px 35px 0 35px;
        min-height: 260px;

        background: rgb(255, 255, 255);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
}