body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-family: 'Merienda', Segoe UI Semibold;
  font-size: 24px;
  text-align: center;
}

.title_big {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: unset;
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .list .list__items .item {
    margin: 60px 10px 0 10px;
  }
  .list .list__items {
    justify-content: space-around;
  }
} 

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .about .about__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .about .about__img {
    margin-left: 20px;
    margin: 0;
  }
  .about .about__descr {
    max-width: 460px;
    text-align: center;
  }
  .search-panel .search-panel__wrapper {
    align-items: center;
    flex-direction: column;
  } 
  .search-panel .btns-filter{
    margin-top: 10px;
    width: 390px;
  }
  .search {
    width: 390px;
  }

  #search {
    width: 285px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .promo .title_big {
    font-size: 28px;
  }

  .promo .promo__subtitle {
    font-weight: 400;
    font-size: 20px;
  }

  body .about {
    padding-top: 40px;
  }

  .about .about__img {
    width: 300px;
    height: 380px;
    margin-left: 12px;
  }
  .about .about__img img {
    width: 100%;
  }

  .search-panel .btns-filter{
    margin-top: 10px;
    width: 100%;
  }
  .search {
    width: 100%;
  }
  #search {
    width: 175px;
  }
  .btns-filter label {
    display: none;
  }

  .search-panel .btns-filter .btn-filter {
    margin-left: 0;
  }

  .coffee-item-page .about .about__img img {
    width: 100%;
    height: 100%;
  }
}