.nav {
    ul {
        padding: 0;

        display: flex;
        align-items: flex-end;

        list-style: none;
    }
    &__item {
        margin-right: 40px;
        display: flex;
        align-items: flex-end;
        a {
            font-size: 12px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0%;
                height: 1px;
                background: #fff;

                transition: 0.4s all;
            }
            &:hover:after{
                width: 100%;
            }
        }
    }
}